<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CourseRoots</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/note.css" rel="stylesheet">

	  <script type="text/javascript" src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-green fixed-top">
      <div class="container">
        <button class="navbar-brand btn logo" style="background: url(/images/icon.png) center no-repeat; background-size: 100% 100%;" href="/home"></button>
        <div class="navbar-header">
          <a class="navbar-brand" style="margin-left: 10px" href="/home">CourseRoots</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/me">{{thisUser.first_name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <img src="/images/logout.png" alt="log out">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
    	<div class="col-lg-9" id="pdf-main-container" style="background-color: #ced4da">
          <div id="pdf-contents">
            <div id="pdf-loader">Loading document ...</div>
            <canvas id="pdf-canvas" class="fade-in"
            style="position: absolute; left: 50%; -webkit-transform: translateX (-50%); transform: translateX(-50%); z-index: 0;"></canvas>
            <canvas id="annotation-layer" class="fade-in"
            style="position: absolute; left: 50%; -webkit-transform: translateX (-50%); transform: translateX(-50%); z-index: 1;"></canvas>
            <div id="page-loader">Loading page ...</div>
          </div>
    	</div>
        <div class="col-lg-3" id="comment-bar" style="outline-width: 1px; outline-color: #545b62"></div>
      </div>
      <div class="row" id="pdf-meta">
        <button type="button" id="pdf-prev" class="btn btn-secondary col-lg-3">Previous</button>
        <div class="form-inline col-lg-3" id="page-count-container">
          Page <input type="text" id="pdf-current-page"> of <span id="pdf-total-pages"></span>
        </div>
        <button type="button" id="pdf-next" class="btn btn-secondary col-lg-3">Next</button>
        <button id="hide-annotation-layer" type="button" class="btn btn-primary col-lg-3">Hide Pins</button>
        <button id="show-annotation-layer" type="button" class="btn btn-primary col-lg-3">Show Pins</button>
        <div>
        <!-- <a href="#" title="annotation-information" data-toggle="popover" data-trigger="hover" data-content="Show Annotation Layer (You must have this enabled to add annotations)">
        <span class="glyphicon glyphicon-info-sign"></span>
        </a> -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CourseRoots 2018</p>
	<p class="m-0 text-center text-white">Made with &hearts; by Sinusoidal Suite</p>
      </div>
      <!-- /.container -->
    </footer>

    <script>
      const username = "{{thisUser.kerbero}}"
      const userID = "{{thisUser.mit_id}}"
      const noteID = "{{noteID}}"
      const deptID = "{{deptID}}"
      const pdfID = "{{pdfID}}"
    </script>
    <script src="/javascripts/note.js"></script>
  </body>
</html>
